In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
data = pd.read_excel('Path1_Challenge_Training_Data.xlsx')
data.head()

         Filename  Carcass_ID  Score Grade Category
0  00000001-1.tif           1  450.0       Standard
1  00000002-1.tif           2  526.7         Select
2  00000003-1.tif           3  320.0         Select
3  00000004-1.tif           4  453.3         Select
4  00000005-1.tif           5  566.7         Select